<div id="<%= dom_id project_client %>">
  <p>
    <strong>Name:</strong>
    <%= project_client.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= project_client.address %>
  </p>

  <p>
    <strong>Contact no:</strong>
    <%= project_client.contact_no %>
  </p>

  <p>
    <strong>Contact support:</strong>
    <%= project_client.contact_support %>
  </p>

</div>
